notes: misi ini dibuat tanpa bantuan AI, dengan tujuan untuk menguji pemahaman dasar pengolahan data, dan juga untuk mengasah kemampuan problem solving pribadi.<\br>

referensi yang digunakan adalah catatan pribadi, file ipynb online class DQLab, dokumentasi libary pandas, dan stackoverflow

# Hypothesis
Dalam timing pelaksanaan program promo discount, Superstore sering melakukannya saat tingkat penjualan sangat tinggi, yang mengakibatkan bisnis mengalami kerugian.

# Metodologi Pembuktian
Untuk membuktikan hipotesis tersebut, perlu di konfirmasi terlebih dahulu apakah statement hipotesis sudah benar atau tidak.</br>
Langkah yang saya ajukan adalah menjawab pertanyaan berikut:
1. Apakah Superstore mengadakan promo discount saat tingkat penjualan sedang sangat tinggi?
2. Jika iya, apakah promo tersebut menagkibatkan kerugian pada bisnis?

# Langkah yang dilakukan untuk mempersiapkan data:
1. import library dan data dari url
    1. pengecekan awal data dengan ```data_source.head()```
2. pengecekan tipe data dengan ```display(pd.DataFrame.info(data_source))```
3. pengecekan missing value dengan ```data_source.isnull().sum()```
4. data siap digunakan

In [1]:
# import library dan data

import pandas as pd
import datetime as dt

data_url = 'https://github.com/zuuwee-1/data-urls/raw/main/SuperStore.xlsx'
data_superstore = pd.read_excel(data_url)
df = data_superstore

# display(data_superstore)
data_superstore.head()

,Order_ID,Customer_ID,Postal_Code,Product_ID,Sales,Quantity,Discount,Profit,Category,Sub_Category,Product_Name,Order_Date,Ship_Date,Ship_Mode,Customer_Name,Segment,Country,City,State,Region
0,CA-2019-152156,CG-12520,42420,FUR-BO-10001798,261.9600,2,0.00,41.9136,Furniture,Bookcases,Bush Somerset Collection Bookcase,2019-11-08,2019-11-11,Second Class,Claire Gute,Consumer,United States,Henderson,Kentucky,South
1,CA-2019-152156,CG-12520,42420,FUR-CH-10000454,731.9400,3,0.00,219.5820,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",2019-11-08,2019-11-11,Second Class,Claire Gute,Consumer,United States,Henderson,Kentucky,South
2,CA-2019-138688,DV-13045,90036,OFF-LA-10000240,14.6200,2,0.00,6.8714,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,2019-06-12,2019-06-16,Second Class,Darrin Van Huff,Corporate,United States,Los Angeles,California,West
3,US-2018-108966,SO-20335,33311,FUR-TA-10000577,957.5775,5,0.45,-383.0310,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,2018-10-11,2018-10-18,Standard Class,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South
4,US-2018-108966,SO-20335,33311,OFF-ST-10000760,22.3680,2,0.20,2.5164,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,2018-10-11,2018-10-18,Standard Class,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South

In [2]:
# pengecekan awal

# menampilkan tipe data dari tiap kolom
# display(pd.DataFrame.info(df)) # bisa disingkat menjadi df.info()
df.info()

# menampilkan tiap tanggal yang terjadi transaksi
# order_date = df.loc[0:9, 'Order_Date']
# display(order_date)

# menampilkan tiap bulan yang terjadi transaksi
# order_month = df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       9994 non-null   object
 1   Customer_ID    9994 non-null   object
 2   Postal_Code    9994 non-null   int64
 3   Product_ID     9994 non-null   object
 4   Sales          9994 non-null   float64
 5   Quantity       9994 non-null   int64
 6   Discount       9994 non-null   float64
 7   Profit         9994 non-null   float64
 8   Category       9994 non-null   object
 9   Sub_Category   9994 non-null   object
 10  Product_Name   9994 non-null   object
 11  Order_Date     9994 non-null   datetime64[ns]
 12  Ship_Date      9994 non-null   datetime64[ns]
 13  Ship_Mode      9994 non-null   object
 14  Customer_Name  9994 non-null   object
 15  Segment        9994 non-null   object
 16  Country        9994 non-null   object
 17  City           9994 non-null   object
 18  State          9994 non-null   object
 19  Region         9994 non-null   object
dtypes: datetime64[ns](2), float64(3), int64(2), object(13)
memory usage: 1.5+ MB

--data cleaning 1
## Penyesuaian Tipe Data untuk kolom 'Sales', 'Quantity', 'Discount', 'Profit', etc
jika tipe dari kolom tersebut belum berupa integer/float dan masih berupa object, maka perlu terlebih dahulu diubah sesuai dengan kolom nya (Quantity int64, discount float64, etc)</br>

gunakan fungsi berikut untuk mengubah sesuai keinginan: </br>
```data_source.astype({'Collumn_Name':'new_data_type, 'Another_Collumn_Name':'another_new_data_type'})```</br>
doc: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html

In [3]:
# jika tipedata masih berupa object, dan ingin mengganti menjadi int64
df = df.astype({
    'Postal_Code':'object',
    'Sales':'float64',
    'Discount':'float64',
    'Profit':'float64',
    'Quantity':'int64'
})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       9994 non-null   object
 1   Customer_ID    9994 non-null   object
 2   Postal_Code    9994 non-null   object
 3   Product_ID     9994 non-null   object
 4   Sales          9994 non-null   float64
 5   Quantity       9994 non-null   int64
 6   Discount       9994 non-null   float64
 7   Profit         9994 non-null   float64
 8   Category       9994 non-null   object
 9   Sub_Category   9994 non-null   object
 10  Product_Name   9994 non-null   object
 11  Order_Date     9994 non-null   datetime64[ns]
 12  Ship_Date      9994 non-null   datetime64[ns]
 13  Ship_Mode      9994 non-null   object
 14  Customer_Name  9994 non-null   object
 15  Segment        9994 non-null   object
 16  Country        9994 non-null   object
 17  City           9994 non-null   object
 18  State          9994 non-null   object
 19  Region         9994 non-null   object
dtypes: datetime64[ns](2), float64(3), int64(1), object(14)
memory usage: 1.5+ MB

--data cleaning 2
## Penyesuaian Tipe Data untuk kolom 'Order_Date' dan 'Ship_Date'
jika tipe dari 'Order_Date' dan 'Ship_Date' belum datetime, maka perlu terlebih dahulu diubah menjadi datetime.</br>
fungsi yang bisa digunakan adalah ```to_datetime```</br>
doc: https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html</br>

langkah berikutnya adalah perubahan format date menjadi YYYY-MM-DD.</br>
dengan menggunakan ```strftime```, ubah dari format yang tidak standard menjadi YYYY-MM-DD.</br>
doc: https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.strftime.html

In [ ]:
# jika tipe dari 'Order_Date' belum datetime

# pengecekan pertama
# type(df['Order_Date'][0])

df['Order_Date'] = pd.to_datetime(converted_to_date['Order_Date'])

type(df['Order_Date'][0])
# display(df)

In [ ]:
# jika format 'Order_Date belum YYYY-MM-DD, gunakan function ini

# Convert to datetime object (kalau cell diatas tidak dijalankan)
# df['Order_Date'] = pd.to_datetime(formatted_date_data['Order_Date'], format = '%d/%m/%Y')
# notes: 'format =' isi sesuai data sebelum format

# Convert ke format "yyyy-mm-dd"
# df['Order_Date'] = df['Order_Date'].dt.strftime('%Y-%m-%d')

# Tampilkan hasilnya
# display(df)

--data cleaning 3
## Handle Missing Data & Data Cleaning
untuk mengetahui apakah data source kita memiliki missing data, gunakan fungsi ```data_source.isnull().sum()```</br>
jika semua 0, maka dapat dikonfirmasi tidak ada missing data.</br>
doc: https://pandas.pydata.org/docs/reference/api/pandas.isnull.html


jika ada 1 atau lebih, maka perlu dilakukan data cleaning.</br>
asumsi Superstore tidak ingin ada missing data, dan semua missing data dapat dihapus sesuai persetujuan, kita bisa melakukan data cleaning dengan fungsi ```data_source.dropna``` untuk menghapus data yang mempunyai missing value.</br>
doc: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

In [ ]:
# pengecekan missing data, dengan menampilkan jumlah data dari tiap kolom yang isnull
df.isnull().sum()

In [ ]:
# cell ini hanya digunakan jika ada missing data
# menghapus missing data

# pengecekan pertama
print(df.shape)
# display(df.isnull().sum())

# menggunakan dropna untuk menghapus data yang mempunyai missing value
data_dropna = df.dropna(how = 'all') # all = semua nya ada yg kosong -> hapus. any = salah satu kosong -> hapus

print(data_dropna.shape)
# print(data_dropna.isnull().sum())

--data cleaning 4
## Redundasi Data
untuk mengetahui apakah data memiliki duplicate entry,dapat digunakan fungsi ```df.duplicated()```, yang akan me-return boolean (True/False).</br>
contoh: 
1. ```data_source.duplicated(keep='last')```
2. ```data_source.duplicated(keep=False)```
3. ```data_source.duplicated(subset=['Collumn_Name'])```

setelah mendapatkan jawaban apakah data memiliki duplicate, dapat kita lihat count dari tiap value nya dengan ```data_source.value_counts()```
</br>

doc: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html </br>
doc: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html

In [4]:
df_dupe_data = df.duplicated(keep='last')
df_dupe_data.value_counts()

False    9993
True        1
Name: count, dtype: int64

In [5]:
# pengecekan awal
display(df_dupe_data.shape)

(9994,)

In [6]:
# Karena didapat 1 value yang duplicate, maka kita perlu mengecek nya dengan:
# pd.Series(df_dupe_data).duplicated
# df_dupe_data.duplicated(keep = False).sum()
df = df.drop_duplicates(keep = 'last')

In [7]:
#pengecekan setelah drop_duplicates
display(df.shape)

(9993, 20)

In [8]:
df_drop_dupe = df.duplicated(keep='last')
df_drop_dupe.value_counts()

False    9993
Name: count, dtype: int64

# Aktifitas promo discount
di bagian ini, akan dilakukan pengecekan pada periode apa diskon sering muncul, dan menjawab pertanyaan apakah pada periode tersebut jumlah transaksi sedang tinggi.</br>
langkah yang akan digunakan adalah sebagai berikut:
1. menghitung total unique transaction
2. mengelompokkan dengan (groupby) year, month
3. membuat kolom average_discount_per_periode, dan average_discount_all, untuk dibandingkan
    1. jika per_periode lebih tinggi, maka periode tersebut dianggap melakukan aktifitas promo diskon tinggi
    2. jika tidak, maka periode tersebut dianggap tidak melakukan aktifitas promo diskon tinggi
4. membuat boolean atas kondisi diatas
5. membuat kolom average_profit_per_periode, dan average_profit_all, untuk dibandingkan
    1. jika per_periode lebih tinggi, maka periode tersebut dianggap kurang efektif
    2. jika tidak, maka periode tersebut dianggap efektif
6. membuat boolean atas kondisi diatas
7. membandinkan boolean point nomor 4 dan 6
    1. jika keduanya true, maka hipotesis dianggap benar
    2. jika tidak, maka hipotesis dianggap salah
8. membuat infografik dari hasil point nomor 7 (berupa table saja atau grafik pie chart)

## Mengisolir duplicate 'Order_ID'
tujuannya untuk hanya menghitung unique transaction saja, **spesifik untuk tujuan penghitungan total transaksi unique**. (apakah perlu?)

In [ ]:
# membuat function

"""
menghapus data yang memiliki nilai yang sama, di column tertentu
contoh: new_df = df[['type', 'value']].drop_duplicates(subset=['type'])
new_df akan membuat dataframe baru dengan 2 column, dan akan drop_duplicates column 'type'
"""
def remove_dupe_orderid(data_source, column_to_keep, column_to_drop_dupe):
    df_no_dupe = data_source[column_to_keep].drop_duplicates(subset=column_to_drop_dupe)
    return df_no_dupe

# jika perlu menggunakan index
def average_monthly_total_transaction_indexed(data_source, index_start, index_end, column):
    result = data_source.loc[index_start:index_end, column]
    return result

In [ ]:
# pemanggilan function

# menghitung total unique transaksi
df_unique_orderid = remove_dupe_orderid(df, ['Order_ID', 'year', 'month'], ['Order_ID'])
print(f"total transaksi df: {df['Order_ID'].count()}")
print(f"total transaksi df_remove_dupe: {df_unique_orderid['Order_ID'].count()}")

In [44]:
# ternyata bisa menggunakan nunique langsung
df['Order_ID'].nunique()

5009

## Membuat kolom baru, dan mengisi sebagai 'year' dan 'month'
dengan meggunakan ```data_source['Date_Column_Name'].dt.year``` yang kemudian disimpan sebagai kolom baru ```data_superstore['year'] =```, kita dapat membuat kolom baru untuk memudahkan peng-kategorian data, dengan mengambil data dari 'Order_Date', dan meng-extract value year dan month nya.</br>
doc: https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.year.html

In [30]:
df['year'] = df['Order_Date'].dt.year
df['month'] = df['Order_Date'].dt.month

df.groupby(['year','month']).size() # jalankan line ini saja, untuk melihat hasil groupby nya
# display(df)

year  month
2017  1         79
      2         46
      3        157
      4        134
      5        122
      6        135
      7        143
      8        153
      9        268
      10       159
      11       318
      12       278
2018  1         58
      2         64
      3        138
      4        160
      5        146
      6        138
      7        140
      8        159
      9        293
      10       166
      11       324
      12       316
2019  1         89
      2         83
      3        163
      4        170
      5        225
      6        199
      7        201
      8        176
      9        363
      10       196
      11       370
      12       352
2020  1        155
      2        107
      3        238
      4        203
      5        242
      6        245
      7        226
      8        218
      9        459
      10       298
      11       459
      12       462
dtype: int64

In [ ]:
# tidak perlu menggunakan fungsi drop_duplicates dulu ternyata, bisa langsung skip ke cell bawah dengan nunique

# df_unique_orderid['year'] = df['Order_Date'].dt.year
# df_unique_orderid['month'] = df['Order_Date'].dt.month

# untuk memastikan, bisa gunakan:
# df_unique_orderid.groupby(['year','month']).size()

In [46]:
display(df)

,Order_ID,Customer_ID,Postal_Code,Product_ID,Sales,Quantity,Discount,Profit,Category,Sub_Category,...,Ship_Date,Ship_Mode,Customer_Name,Segment,Country,City,State,Region,year,month
0,CA-2019-152156,CG-12520,42420,FUR-BO-10001798,261.9600,2,0.00,41.9136,Furniture,Bookcases,...,2019-11-11,Second Class,Claire Gute,Consumer,United States,Henderson,Kentucky,South,2019,11
1,CA-2019-152156,CG-12520,42420,FUR-CH-10000454,731.9400,3,0.00,219.5820,Furniture,Chairs,...,2019-11-11,Second Class,Claire Gute,Consumer,United States,Henderson,Kentucky,South,2019,11
2,CA-2019-138688,DV-13045,90036,OFF-LA-10000240,14.6200,2,0.00,6.8714,Office Supplies,Labels,...,2019-06-16,Second Class,Darrin Van Huff,Corporate,United States,Los Angeles,California,West,2019,6
3,US-2018-108966,SO-20335,33311,FUR-TA-10000577,957.5775,5,0.45,-383.0310,Furniture,Tables,...,2018-10-18,Standard Class,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South,2018,10
4,US-2018-108966,SO-20335,33311,OFF-ST-10000760,22.3680,2,0.20,2.5164,Office Supplies,Storage,...,2018-10-18,Standard Class,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South,2018,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,CA-2017-110422,TB-21400,33180,FUR-FU-10001889,25.2480,3,0.20,4.1028,Furniture,Furnishings,...,2017-01-23,Second Class,Tom Boeckenhauer,Consumer,United States,Miami,Florida,South,2017,1
9990,CA-2020-121258,DB-13060,92627,FUR-FU-10000747,91.9600,2,0.00,15.6332,Furniture,Furnishings,...,2020-03-03,Standard Class,Dave Brooks,Consumer,United States,Costa Mesa,California,West,2020,2
9991,CA-2020-121258,DB-13060,92627,TEC-PH-10003645,258.5760,2,0.20,19.3932,Technology,Phones,...,2020-03-03,Standard Class,Dave Brooks,Consumer,United States,Costa Mesa,California,West,2020,2
9992,CA-2020-121258,DB-13060,92627,OFF-PA-10004041,29.6000,4,0.00,13.3200,Office Supplies,Paper,...,2020-03-03,Standard Class,Dave Brooks,Consumer,United States,Costa Mesa,California,West,2020,2
9993,CA-2020-119914,CC-12220,92683,OFF-AP-10002684,243.1600,2,0.00,72.9480,Office Supplies,Appliances,...,2020-05-09,Second Class,Chris Cortes,Consumer,United States,Westminster,California,West,2020,5

## Aggregat 'Order_ID' dengan menghitung unique count, dan group by periode per year per month
doc: https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.agg.html

In [91]:
# trx_year_month = df_unique_orderid.groupby(by = ['year','month'], as_index = False).agg(Unique_Transaction = ('Order_ID', 'count'))
# display(trx_year_month)

# ternyata bisa menggunakan nunique langsung......
trx_year_month = df.groupby(by = ['year','month'], as_index = False).agg(Unique_Transaction = ('Order_ID', 'nunique'))
display(trx_year_month)

    year  month  Unique_Transaction
0   2017      1                  32
1   2017      2                  28
2   2017      3                  71
3   2017      4                  66
4   2017      5                  69
5   2017      6                  66
6   2017      7                  65
7   2017      8                  72
8   2017      9                 130
9   2017     10                  78
10  2017     11                 151
11  2017     12                 141
12  2018      1                  29
13  2018      2                  36
14  2018      3                  79
15  2018      4                  72
16  2018      5                  74
17  2018      6                  68
18  2018      7                  66
19  2018      8                  68
20  2018      9                 140
21  2018     10                  87
22  2018     11                 158
23  2018     12                 161
24  2019      1                  48
25  2019      2                  45
26  2019      3                  86
27  2019      4                  89
28  2019      5                 108
29  2019      6                  97
30  2019      7                  96
31  2019      8                  90
32  2019      9                 192
33  2019     10                 105
34  2019     11                 183
35  2019     12                 176
36  2020      1                  69
37  2020      2                  53
38  2020      3                 118
39  2020      4                 116
40  2020      5                 118
41  2020      6                 133
42  2020      7                 111
43  2020      8                 111
44  2020      9                 226
45  2020     10                 147
46  2020     11                 261
47  2020     12                 224

In [92]:
# menambahkan kolom avg_transaction
trx_year_month['avg_transaction'] = trx_year_month['Unique_Transaction'].mean()
# display(trx_year_month)
trx_year_month.head()

   year  month  Unique_Transaction  avg_transaction
0  2017      1                  32       104.354167
1  2017      2                  28       104.354167
2  2017      3                  71       104.354167
3  2017      4                  66       104.354167
4  2017      5                  69       104.354167

## Visualisasi Data
import

## Menggunakan format percent untuk tipedata float
langkah ini bersifat opsional, hanya untuk memudahkan membaca dataframe<\br>

ref: https://stackoverflow.com/questions/23981601/format-certain-floating-dataframe-columns-into-percentage-in-pandas</br>
doc: https://pandas.pydata.org/pandas-docs/version/0.18/generated/pandas.formats.style.Styler.format.html

In [132]:
trx_year_month = df.groupby(by = ['year','month'],
    as_index = False).agg(
    Unique_Trx_YM = ('Order_ID', 'nunique'),
    Avg_Discount_YM = ('Discount', 'mean'),
    Avg_Profit_Per_YM = ('Profit', 'mean'))
# need to format to percentage for easier read
trx_year_month['Avg_Trx'] = trx_year_month['Unique_Trx_YM'].mean()

trx_year_month['Avg_Discount'] = df['Discount'].mean()

trx_year_month['Avg_Discount%_YM'] = pd.Series(["{0:.2f}%".format(val * 100) for val in trx_year_month['Avg_Discount_YM']],
                                             index = trx_year_month.index)

trx_year_month['Avg_Discount%'] = pd.Series(["{0:.2f}%".format(val * 100) for val in trx_year_month['Avg_Discount']],
                                             index = trx_year_month.index)

trx_year_month['Avg_Profit'] = df['Profit'].mean()

'''
Menyusun column sesuai kebutuhan, dengan cara:
cols = list(trx_year_month.columns.values)
display(cols)
kemudian paste output code tsb
'''
trx_year_month = trx_year_month[['year',
                                'month',
                                'Unique_Trx_YM',
                                'Avg_Trx',
                                'Avg_Discount_YM',
                                'Avg_Discount',
                                'Avg_Discount%_YM',
                                'Avg_Discount%',
                                'Avg_Profit_Per_YM',
                                'Avg_Profit']]

display(trx_year_month)

# 1. bool 'Avg_Discount%_YM' > 'Avg_Discount%', true or false v
# 2. Profit agg
# 3. Profit mean
# 4. bool Profit agg > Profit mean, true or false
# 5. bool true and true = true, else false
# 6. count or pie diagram last bool
# dibawah aja biar rapih? atau satuin disini

,year,month,Unique_Trx_YM,Avg_Trx,Avg_Discount_YM,Avg_Discount,Avg_Discount%_YM,Avg_Discount%,Avg_Profit_Per_YM,Avg_Profit
0,2017,1,32,104.354167,0.126582,0.156188,12.66%,15.62%,31.015072,28.660971
1,2017,2,28,104.354167,0.176087,0.156188,17.61%,15.62%,18.745835,28.660971
2,2017,3,71,104.354167,0.167516,0.156188,16.75%,15.62%,3.176624,28.660971
3,2017,4,66,104.354167,0.108582,0.156188,10.86%,15.62%,26.126075,28.660971
4,2017,5,69,104.354167,0.155328,0.156188,15.53%,15.62%,22.448439,28.660971
5,2017,6,66,104.354167,0.172000,0.156188,17.20%,15.62%,36.863144,28.660971
6,2017,7,65,104.354167,0.171678,0.156188,17.17%,15.62%,-5.884494,28.660971
7,2017,8,72,104.354167,0.131046,0.156188,13.10%,15.62%,34.758856,28.660971
8,2017,9,130,104.354167,0.159963,0.156188,16.00%,15.62%,31.074998,28.660971
9,2017,10,78,104.354167,0.160063,0.156188,16.01%,15.62%,21.687153,28.660971
10,2017,11,151,104.354167,0.151164,0.156188,15.12%,15.62%,29.220525,28.660971
11,2017,12,141,104.354167,0.190827,0.156188,19.08%,15.62%,32.315000,28.660971
12,2018,1,29,104.354167,0.177931,0.156188,17.79%,15.62%,-56.569086,28.660971
13,2018,2,36,104.354167,0.129688,0.156188,12.97%,15.62%,43.966419,28.660971
14,2018,3,79,104.354167,0.140145,0.156188,14.01%,15.62%,70.522448,28.660971
15,2018,4,72,104.354167,0.175938,0.156188,17.59%,15.62%,26.171851,28.660971
16,2018,5,74,104.354167,0.166096,0.156188,16.61%,15.62%,31.971705,28.660971
17,2018,6,68,104.354167,0.172464,0.156188,17.25%,15.62%,24.170704,28.660971
18,2018,7,66,104.354167,0.170357,0.156188,17.04%,15.62%,23.490345,28.660971
19,2018,8,68,104.354167,0.156415,0.156188,15.64%,15.62%,33.684330,28.660971
20,2018,9,140,104.354167,0.140956,0.156188,14.10%,15.62%,28.017620,28.660971
21,2018,10,87,104.354167,0.162349,0.156188,16.23%,15.62%,16.972084,28.660971
22,2018,11,158,104.354167,0.162315,0.156188,16.23%,15.62%,38.502433,28.660971
23,2018,12,161,104.354167,0.137247,0.156188,13.72%,15.62%,25.370145,28.660971
24,2019,1,48,104.354167,0.132584,0.156188,13.26%,15.62%,31.739588,28.660971
25,2019,2,45,104.354167,0.096386,0.156188,9.64%,15.62%,60.296139,28.660971
26,2019,3,86,104.354167,0.190920,0.156188,19.09%,15.62%,22.159313,28.660971
27,2019,4,89,104.354167,0.155882,0.156188,15.59%,15.62%,17.516558,28.660971
28,2019,5,108,104.354167,0.184444,0.156188,18.44%,15.62%,38.498428,28.660971
29,2019,6,97,104.354167,0.138693,0.156188,13.87%,15.62%,23.871247,28.660971
30,2019,7,96,104.354167,0.159453,0.156188,15.95%,15.62%,22.054119,28.660971
31,2019,8,90,104.354167,0.185625,0.156188,18.56%,15.62%,11.716303,28.660971
32,2019,9,192,104.354167,0.149421,0.156188,14.94%,15.62%,25.698781,28.660971
33,2019,10,105,104.354167,0.147194,0.156188,14.72%,15.62%,82.873176,28.660971
34,2019,11,183,104.354167,0.157622,0.156188,15.76%,15.62%,10.841642,28.660971
35,2019,12,176,104.354167,0.135426,0.156188,13.54%,15.62%,50.810538,28.660971
36,2020,1,69,104.354167,0.161290,0.156188,16.13%,15.62%,46.067349,28.660971
37,2020,2,53,104.354167,0.181963,0.156188,18.20%,15.62%,15.082916,28.660971
38,2020,3,118,104.354167,0.130840,0.156188,13.08%,15.62%,61.982737,28.660971
39,2020,4,116,104.354167,0.194433,0.156188,19.44%,15.62%,4.597488,28.660971
40,2020,5,118,104.354167,0.152438,0.156188,15.24%,15.62%,26.209020,28.660971
41,2020,6,133,104.354167,0.171918,0.156188,17.19%,15.62%,33.564636,28.660971
42,2020,7,111,104.354167,0.140044,0.156188,14.00%,15.62%,30.763811,28.660971
43,2020,8,111,104.354167,0.143578,0.156188,14.36%,15.62%,41.472274,28.660971
44,2020,9,226,104.354167,0.147386,0.156188,14.74%,15.62%,23.946744,28.660971
45,2020,10,147,104.354167,0.174228,0.156188,17.42%,15.62%,31.125086,28.660971
46,2020,11,261,104.354167,0.160980,0.156188,16.10%,15.62%,21.111337,28.660971
47,2020,12,224,104.354167,0.146580,0.156188,14.66%,15.62%,18.362223,28.660971

## Bool untuk mengecek apakah 'Avg_Discount%_YM' lebih kecil daripada 'Avg_Discount%'
dengan menggunakan conditions, kita dapat melihat apakah 'Avg_Discount%_YM' lebih besar daripada 'Avg_Discount%'

In [1]:
condition1 = trx_year_month['Unique_Trx_YM'] > trx_year_month['Avg_Trx']
condition2 = trx_year_month['Avg_Discount%_YM'] > trx_year_month['Avg_Discount%']
condition3 = trx_year_month['Avg_Profit_Per_YM'] < trx_year_month['Avg_Profit']
bool_1 = trx_year_month[condition1 & condition2 & condition3]

print(f'trx_year_month: {trx_year_month.shape[0]}')
print(f'bool_1: {bool_1.shape[0]}') #?

NameError: name 'trx_year_month' is not defined

In [175]:
bool_1 = trx_year_month[condition1]
print(f'bool_1: {bool_1.shape[0]}')
display(bool_1)

bool_1: 21

,year,month,Unique_Trx_YM,Avg_Trx,Avg_Discount_YM,Avg_Discount,Avg_Discount%_YM,Avg_Discount%,Avg_Profit_Per_YM,Avg_Profit,value1
8,2017,9,130,104.354167,0.159963,0.156188,16.00%,15.62%,31.074998,28.660971,48
10,2017,11,151,104.354167,0.151164,0.156188,15.12%,15.62%,29.220525,28.660971,48
11,2017,12,141,104.354167,0.190827,0.156188,19.08%,15.62%,32.315000,28.660971,48
20,2018,9,140,104.354167,0.140956,0.156188,14.10%,15.62%,28.017620,28.660971,48
22,2018,11,158,104.354167,0.162315,0.156188,16.23%,15.62%,38.502433,28.660971,48
23,2018,12,161,104.354167,0.137247,0.156188,13.72%,15.62%,25.370145,28.660971,48
28,2019,5,108,104.354167,0.184444,0.156188,18.44%,15.62%,38.498428,28.660971,48
32,2019,9,192,104.354167,0.149421,0.156188,14.94%,15.62%,25.698781,28.660971,48
33,2019,10,105,104.354167,0.147194,0.156188,14.72%,15.62%,82.873176,28.660971,48
34,2019,11,183,104.354167,0.157622,0.156188,15.76%,15.62%,10.841642,28.660971,48
35,2019,12,176,104.354167,0.135426,0.156188,13.54%,15.62%,50.810538,28.660971,48
38,2020,3,118,104.354167,0.130840,0.156188,13.08%,15.62%,61.982737,28.660971,48
39,2020,4,116,104.354167,0.194433,0.156188,19.44%,15.62%,4.597488,28.660971,48
40,2020,5,118,104.354167,0.152438,0.156188,15.24%,15.62%,26.209020,28.660971,48
41,2020,6,133,104.354167,0.171918,0.156188,17.19%,15.62%,33.564636,28.660971,48
42,2020,7,111,104.354167,0.140044,0.156188,14.00%,15.62%,30.763811,28.660971,48
43,2020,8,111,104.354167,0.143578,0.156188,14.36%,15.62%,41.472274,28.660971,48
44,2020,9,226,104.354167,0.147386,0.156188,14.74%,15.62%,23.946744,28.660971,48
45,2020,10,147,104.354167,0.174228,0.156188,17.42%,15.62%,31.125086,28.660971,48
46,2020,11,261,104.354167,0.160980,0.156188,16.10%,15.62%,21.111337,28.660971,48
47,2020,12,224,104.354167,0.146580,0.156188,14.66%,15.62%,18.362223,28.660971,48

In [176]:
bool_2 = trx_year_month[condition2]
print(f'bool_2: {bool_2.shape[0]}')
display(bool_2)

bool_2: 27

,year,month,Unique_Trx_YM,Avg_Trx,Avg_Discount_YM,Avg_Discount,Avg_Discount%_YM,Avg_Discount%,Avg_Profit_Per_YM,Avg_Profit,value1
1,2017,2,28,104.354167,0.176087,0.156188,17.61%,15.62%,18.745835,28.660971,48
2,2017,3,71,104.354167,0.167516,0.156188,16.75%,15.62%,3.176624,28.660971,48
5,2017,6,66,104.354167,0.172000,0.156188,17.20%,15.62%,36.863144,28.660971,48
6,2017,7,65,104.354167,0.171678,0.156188,17.17%,15.62%,-5.884494,28.660971,48
8,2017,9,130,104.354167,0.159963,0.156188,16.00%,15.62%,31.074998,28.660971,48
9,2017,10,78,104.354167,0.160063,0.156188,16.01%,15.62%,21.687153,28.660971,48
11,2017,12,141,104.354167,0.190827,0.156188,19.08%,15.62%,32.315000,28.660971,48
12,2018,1,29,104.354167,0.177931,0.156188,17.79%,15.62%,-56.569086,28.660971,48
15,2018,4,72,104.354167,0.175938,0.156188,17.59%,15.62%,26.171851,28.660971,48
16,2018,5,74,104.354167,0.166096,0.156188,16.61%,15.62%,31.971705,28.660971,48
17,2018,6,68,104.354167,0.172464,0.156188,17.25%,15.62%,24.170704,28.660971,48
18,2018,7,66,104.354167,0.170357,0.156188,17.04%,15.62%,23.490345,28.660971,48
19,2018,8,68,104.354167,0.156415,0.156188,15.64%,15.62%,33.684330,28.660971,48
21,2018,10,87,104.354167,0.162349,0.156188,16.23%,15.62%,16.972084,28.660971,48
22,2018,11,158,104.354167,0.162315,0.156188,16.23%,15.62%,38.502433,28.660971,48
25,2019,2,45,104.354167,0.096386,0.156188,9.64%,15.62%,60.296139,28.660971,48
26,2019,3,86,104.354167,0.190920,0.156188,19.09%,15.62%,22.159313,28.660971,48
28,2019,5,108,104.354167,0.184444,0.156188,18.44%,15.62%,38.498428,28.660971,48
30,2019,7,96,104.354167,0.159453,0.156188,15.95%,15.62%,22.054119,28.660971,48
31,2019,8,90,104.354167,0.185625,0.156188,18.56%,15.62%,11.716303,28.660971,48
34,2019,11,183,104.354167,0.157622,0.156188,15.76%,15.62%,10.841642,28.660971,48
36,2020,1,69,104.354167,0.161290,0.156188,16.13%,15.62%,46.067349,28.660971,48
37,2020,2,53,104.354167,0.181963,0.156188,18.20%,15.62%,15.082916,28.660971,48
39,2020,4,116,104.354167,0.194433,0.156188,19.44%,15.62%,4.597488,28.660971,48
41,2020,6,133,104.354167,0.171918,0.156188,17.19%,15.62%,33.564636,28.660971,48
45,2020,10,147,104.354167,0.174228,0.156188,17.42%,15.62%,31.125086,28.660971,48
46,2020,11,261,104.354167,0.160980,0.156188,16.10%,15.62%,21.111337,28.660971,48

In [177]:
bool_3 = trx_year_month[condition3]
print(f'bool_3: {bool_3.shape[0]}')
display(bool_3)

bool_3: 26

,year,month,Unique_Trx_YM,Avg_Trx,Avg_Discount_YM,Avg_Discount,Avg_Discount%_YM,Avg_Discount%,Avg_Profit_Per_YM,Avg_Profit,value1
1,2017,2,28,104.354167,0.176087,0.156188,17.61%,15.62%,18.745835,28.660971,48
2,2017,3,71,104.354167,0.167516,0.156188,16.75%,15.62%,3.176624,28.660971,48
3,2017,4,66,104.354167,0.108582,0.156188,10.86%,15.62%,26.126075,28.660971,48
4,2017,5,69,104.354167,0.155328,0.156188,15.53%,15.62%,22.448439,28.660971,48
6,2017,7,65,104.354167,0.171678,0.156188,17.17%,15.62%,-5.884494,28.660971,48
9,2017,10,78,104.354167,0.160063,0.156188,16.01%,15.62%,21.687153,28.660971,48
12,2018,1,29,104.354167,0.177931,0.156188,17.79%,15.62%,-56.569086,28.660971,48
15,2018,4,72,104.354167,0.175938,0.156188,17.59%,15.62%,26.171851,28.660971,48
17,2018,6,68,104.354167,0.172464,0.156188,17.25%,15.62%,24.170704,28.660971,48
18,2018,7,66,104.354167,0.170357,0.156188,17.04%,15.62%,23.490345,28.660971,48
20,2018,9,140,104.354167,0.140956,0.156188,14.10%,15.62%,28.017620,28.660971,48
21,2018,10,87,104.354167,0.162349,0.156188,16.23%,15.62%,16.972084,28.660971,48
23,2018,12,161,104.354167,0.137247,0.156188,13.72%,15.62%,25.370145,28.660971,48
26,2019,3,86,104.354167,0.190920,0.156188,19.09%,15.62%,22.159313,28.660971,48
27,2019,4,89,104.354167,0.155882,0.156188,15.59%,15.62%,17.516558,28.660971,48
29,2019,6,97,104.354167,0.138693,0.156188,13.87%,15.62%,23.871247,28.660971,48
30,2019,7,96,104.354167,0.159453,0.156188,15.95%,15.62%,22.054119,28.660971,48
31,2019,8,90,104.354167,0.185625,0.156188,18.56%,15.62%,11.716303,28.660971,48
32,2019,9,192,104.354167,0.149421,0.156188,14.94%,15.62%,25.698781,28.660971,48
34,2019,11,183,104.354167,0.157622,0.156188,15.76%,15.62%,10.841642,28.660971,48
37,2020,2,53,104.354167,0.181963,0.156188,18.20%,15.62%,15.082916,28.660971,48
39,2020,4,116,104.354167,0.194433,0.156188,19.44%,15.62%,4.597488,28.660971,48
40,2020,5,118,104.354167,0.152438,0.156188,15.24%,15.62%,26.209020,28.660971,48
44,2020,9,226,104.354167,0.147386,0.156188,14.74%,15.62%,23.946744,28.660971,48
46,2020,11,261,104.354167,0.160980,0.156188,16.10%,15.62%,21.111337,28.660971,48
47,2020,12,224,104.354167,0.146580,0.156188,14.66%,15.62%,18.362223,28.660971,48

## plotly

In [168]:
# import plotly.express as px

# # Initialize
# fig = px.pie(cal_result, values = 'Avg_Trx', names='Avg_Discount%_YM')

# # Tampilkan visualisasi
# fig.show()

--> Ke dokumen baru, ternyata misinya spesifik formulasi Machine Learning, instead of manual....